<div class="card-container {% if card_number == 2 %} glowing {% endif %} mb-3">

    <div class="card-background">

        <div class="card-frame">

            <div class="frame-header">
                <h1 class="name" style="text-align:left">{{idea.title}}</h1>
                <i class="ms ms-u" id="mana-icon"></i>
            </div>

            <div class="frame-text-box">
                <p class="description ftb-inner-margin">{{idea.description}}</p>
            </div>

            <div class="frame-bottom-info inner-margin">
                <div class="fbi-left">
{#                    <p>{{idea.id}}/{{totalIdeas}}</p>#}
                    <p>{{card_number}}/{{totalIdeas}}</p>
                    <p>EN <!-- paintbrush symbol --> {{ app.user.username }}</p>
                </div>

                <div class="fbi-center"></div>

                <div class="fbi-right">
                    &#x99; &amp; &#169; 2016 Wizards of the Coast
                </div>
            </div>

        </div>

    </div>

</div>