<div class="card-container mb-3 glowing">
    {{ form_start(form, { 'attr': {'autocomplete': 'off'} })  }}

    <div class="card-background">

        <div class="card-frame">

            <div class="frame-header">
                <h1 class="name">
                    {{ form_widget(form.title, { 'attr': {'class': 'form-transparent-background' , 'placeholder' : 'Title' , 'maxlength' : 25 } }) }}
                </h1>
                <i class="ms ms-u" id="mana-icon"></i>
            </div>

            <div class="frame-text-box">
                {{ form_widget(form.description, { 'attr': {'class': 'form-transparent-background', 'placeholder' : 'Description' , 'maxlength' : 255 } }) }}

                {% if not form.vars.valid %}
                    <div class="text-center" style="color:red">
                        <p>
                            {{ form_errors(form.title) }}
                            {{ form_errors(form.description) }}
                        </p>
                    </div>
                {% endif %}

                <div class="text-center pt-5">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>


            <div class="frame-bottom-info inner-margin">
                <div class="fbi-left">
                    <p>??/{{totalIdeas}}</p>
                    <p>OGW &#x2022; EN <!-- paintbrush symbol --> {{ app.user.username }}</p>
                </div>

                <div class="fbi-center"></div>

                <div class="fbi-right">
                    &#x99; &amp; &#169; 2016 Wizards of the Coast
                </div>
            </div>

        </div>

    </div>
    {{ form_end(form) }}
</div>
